<div class="content">
    <div class="tab">
        <button type="button" (click)="selectSection('creators')" [ngClass]="{'activate': option == 'creators'}">
            <h1>Creators</h1>
        </button>
        <button type="button" (click)="selectSection('discover')" [ngClass]="{'activate': option == 'discover'}">
            <h1>Discover</h1>
        </button>
    </div>
    <div [ngSwitch]="option" class="cards-container">
        <div *ngSwitchCase="'discover'">
            <div class="row">
                <div class="column" *ngFor="let discover of discovers">
                    <card></card>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault>
            <card></card>
        </div>
    </div>
</div>