.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 86px;

  .card {
    position: relative;
    width: 340px;
    height: auto;
    padding: 16px;
    margin: 8px 0px;
    border-radius: 8px;
    border: 1px solid #040404;
    background: #1f1f23;
    cursor: pointer;

    .card-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      .avatar {
        border-radius: 50%;
        width: 60px;
        height: auto;
        margin-right: 16px;
      }

      span {
        color: #e3e3e5;
        p {
          font-size: 18px;
          font-weight: 600;
          margin: 0px;
          text-align: center;
        }
        small {
          font-weight: 400;
        }
      }
    }
  }
}
